{% extends 'base/base2.html' %}

{% block contenido %}

<div id="aboutme_container">
<h4>AboutMe</h4>
<a href="https://github.com/Roberto09" id ="BTN1-Git" class="btn btn-primary" >Github Profile</a>
<a href="mailto:roberto.gt1509@gmail.com" id ="BTN1-Git" class="btn btn-primary" >Email Me</a>
<a href="https://www.linkedin.com/in/robertog1509/" id ="BTN1-Git" class="btn btn-primary" >Linkedin Profile</a>


<div id="Head-AM">
	<div id="header-AM">
	<h5>Personal Info: </h5>
	</div>

	<p id ="Head-AM-P1">My full name is Roberto Garcia Torres and I am from Monterrey Mexico. At this moment I'am studying a major´s degree in engineering in computer science in the Tecnologico de Monterrey; beofre this I studied Junior-High in Universidad TecMilenio. Personally I’am deeply interested in competitive programming, web and mobile development. This page, in fact is built in Django framework using python. Other things you may want to know about me is that I really like sports, hanging out with my friends and food. I always want to seek discomfort and that is what encourages me to do a lot of things. Here´s a picture of me:
	</p>
	{% load static %} 
	<img id="Profile_Pic" src="{% static 'html_images/Profile.jpeg' %}" alt="Profile Picture">

</div>

<div id="Middle-AM">

	<div id="middle-header-AM">
	<h5>Hobbies:</h5>
	</div>

	<img id="Mountain_Pic" src="{% static 'html_images/Escritorio.jpeg' %}" alt="Profile Picture">


	<p id ="Middle-AM-P1">
<strong>Cultural:</strong><br/>
•	<a href="https://www.rubiks.com/">Rubik´s Cube</a><br/>
•	<a href="https://www.topcoder.com/community/competitive-programming/">Competitive Programming</a><br/>
•	<a href="http://www.selfdirectedlearning.org/what-is-self-directed-learning">Self Learning</a><br/>
<br/>
<strong>Excercise/Sports:</strong><br/>
•	<a href="http://allfitnessgym.com/plaza-tec/">Gym</a><br/>
•	<a href="http://www.historyofsoccer.info/">Soccer</a><br/>

	</p>

</div>


<div id="Foot-AM">

	<div id="foot-header-AM">
	<h5>Awards and Leadership: </h5>
	</div>

	<p id ="Foot-AM-P1">
•	3rd place in TopTeen (1 semester programming competition in college with participants from the 3 CS majors) -2017.<br/>
•	Collaboration as staff in Hack-Mty -2017.<br/>
•	Capitan from my student society in High-School leading about 75 people -2017.<br/>
•	Invitation and assistance to ENLA (National Meeting of Leaders in Action) in Queretaro -2016.<br/>
•	Invitation and assistance to SE-LIDER (national leadership congress) in Monterrey -2015.<br/>

	</p>
	<img id="Profile_Pic" src="{% static 'html_images/Cerro.jpg' %}" alt="Profile Picture">

</div>


<div id="LifePlan">

	<div id="LifePlan-header-AM">
	<h5>Life Plan:</h5>
	</div>

	<p id ="LifePlan-P1">
		During my major as a CS student I would like to be able to work and find as much experience as possible through internships/courses/extracurricular activities. That is because I want to leave college with the highest experience possible. After graduating I would like to work for 3-5 years in a huge company such as google, Facebook, Twitter, Uber, Microsoft, etc. or in a very cool startup. Then, after acquiring some laboral experience, I would like to make my own startup with my team. After that sky is the limit.
	</p>

</div>


<div id="Middle-AM" class="lastC">

	<div id="middle-header-AM">
	<h5>My Ethics Code:</h5>
	</div>

	<img id="Mountain_Pic" src="{% static 'html_images/Mountain.jpeg' %}" alt="Profile Picture">


	<p id ="Middle-AM-P1">
•	Contribuir a la sociedad y al bienestar humano<br>
•	Evitar causar daño a los demás<br>
•	Ser honesto y digno de confiar<br>
•	Ser justo<br>
•	Honrar los derechos de propiedad<br>
•	Dar créditos propios por la propiedad intelectual<br>
•	Respetar la propiedad de otros<br>
•	Honrar la confidencialidad<br>

	</p>

</div>




</div>

{% endblock %}
