{% extends 'base/base2.html' %}

{% block contenido %}

<div id="aboutme_container">
<h4>Academic</h4>
<a href="https://github.com/Roberto09" id ="BTN1-Git" class="btn btn-primary" >Github Profile</a>
<a href="mailto:roberto.gt1509@gmail.com" id ="BTN1-Git" class="btn btn-primary" >Email Me</a>
<a href="https://www.linkedin.com/in/robertog1509/" id ="BTN1-Git" class="btn btn-primary" >Linkedin Profile</a>

<div id="Head-AM">
	<div id="header-AM">
	<h5>School and Major: </h5>
	</div>

	<p id ="Head-AM-P1">I am studying a major in Engineering in Computer Science in the “Tecnologico de Monterrey”.  This major consists in software development and computer science combined with the skills of a regular engineer. Right now, I am in the 1st semester from the major, which lasts 9 semesters. Regardless of this I seek to learn as much as possible by my own. I would like to include that the main reason why I am studying this is because I believe in the power of the computers combined with your own software and how this allows us to create huge things with the lowest amount of resources.
	</p>
	{% load static %} 
	<img id="Profile_Pic" src="{% static 'html_images/Tec.png' %}" alt="Profile Picture">

</div>

<div id="Middle-AM">

	<div id="middle-header-AM">
	<h5>Technical Skills: </h5>
	</div>

	<img id="Mountain_Pic" src="{% static 'html_images/languages.png' %}" alt="Profile Picture">


	<p id ="Middle-AM-P1">
<strong>Programming Languages:</strong><br/>
•	Python: (Beginner)<br/>
•	C++: (Beginner)<br/>
•	JavaScript: (Beginner)<br/>
<br/>
<strong>Technologies/frameworks:</strong><br/>
•	Django:(Beginner)<br/>
•	Html & Css: (Beginner)<br/>
•	Android Studio (Beginner)<br/>

	</p>

</div>


<div id="Foot-AM" class="lastC">

	<div id="foot-header-AM">
	<h5>My plans for the semesters (They may change with the time):</h5>
	</div>

	<p id ="Foot-AM-P1">
•	1st: Network a lot with my new classmates, learn data bases and begin with android dev.<br>
•	2nd: Start working and learn about machine learning.<br>
•	3rd: Continue working and acquire more knowledge on db and apply for internships.<br>
•	4th: Apply with a party to the Students Society and make a cool team to start building projects.<br>
•	5ht: Start my own startup.<br>
•	6th: Continue working on my startup and start to learn about complex data science.<br>
•	7th: Aim to find a cool job in a huge business.<br>
•	8th: Get deeper into learning UX design and start seeing job opportunities.<br>
•	9th: Make as much experience as possible and find an opportunity to work in a cool company, continue my startup or start a new one.<br>


	</p>
	{% load static %} 
	<img id="Semester_Plans" src="{% static 'html_images/flag.jpg' %}" alt="Profile Picture">




</div>

</div>

{% endblock %}
